@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
  font-family: Avenir, Tahoma, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #333;
  transition: var(--theme-transition);
}

img {
  display: block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol > li {
  list-style-type: inherit;
}

h1,
p {
  margin: 0;
}

:root {
  --theme-font-compatible: Avenir, Tahoma, "Kai", "KaiTi", sans-serif;
  --theme-font: "Kai", "KaiTi", sans-serif;
  --theme-color-dark: #666;
  --theme-color-gray: #888;
  --theme-color: #bd9f6f;
  --theme-color-pale: #deb887;
  --theme-transition: all 0.2s linear;
  --theme-shadow: 0 0 3px var(--theme-color);
  --theme-shadow-dark: 0 0 8px var(--theme-color-gray);
  --theme-block-bg: #fff;
}

.button, .button-has-bg {
  cursor: pointer;
  border: 1px solid var(--theme-color);
  box-sizing: border-box;
  background: var(--theme-block-bg);
  transition: var(--theme-transition);
}
.button > .button-body, .button-has-bg > .button-body {
  color: var(--theme-color-dark);
  margin: 3px;
}
.button:hover, .button-has-bg:hover {
  box-shadow: var(--theme-shadow);
}

.button-has-bg > .button-body {
  background: url("assets/images/7933259ae51d7b49d5291e7a1759d6f2-Large.jpeg") repeat;
  background-size: contain;
}

#masthead {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("assets/images/b53fe59057ca6ab1c4ea9a2868387bc6-Large.jpeg") right -60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  box-shadow: var(--theme-shadow-dark);
  transition: var(--theme-transition);
}

.site-branding img {
  max-height: 64px;
}
.site-branding > div {
  display: inline-block;
  vertical-align: middle;
}
.site-branding > .site-logo {
  margin-right: 5px;
}
.site-branding > .site-title {
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  border: 1px solid #666;
  transition: var(--theme-transition);
  font-family: var(--theme-font);
  font-size: 20px;
}
.site-branding > .site-title > h1 {
  font-size: inherit;
  font-weight: 400;
}
.site-branding > .site-title > h1 > a {
  color: var(--theme-color-dark);
}
.site-branding > .site-title:hover {
  box-shadow: var(--theme-shadow);
}

#primary-menu-list {
  display: flex;
}
#primary-menu-list > .menu-item {
  margin-right: 30px;
  position: relative;
  font-family: var(--theme-font-compatible);
  transition: var(--theme-transition);
  background: var(--theme-block-bg);
  border: 1px solid var(--theme-color);
}
#primary-menu-list > .menu-item:hover {
  box-shadow: var(--theme-shadow);
}
#primary-menu-list > .menu-item:hover > .sub-menu {
  transform: scale(1);
}
#primary-menu-list > .menu-item:last-child {
  margin-right: 15px;
}
#primary-menu-list > .menu-item > a {
  color: var(--theme-color-dark);
  display: block;
  margin: 3px;
  background: url("assets/images/7933259ae51d7b49d5291e7a1759d6f2-Large.jpeg") repeat;
  background-size: contain;
  padding: 3px 8px;
  position: relative;
}
#primary-menu-list > .menu-item > a::after {
  position: absolute;
  content: "";
  height: 6px;
  width: 100%;
  left: 0;
  bottom: -10px;
}
#primary-menu-list .sub-menu {
  position: absolute;
  right: 0;
  margin-top: 5px;
  background: var(--theme-block-bg);
  white-space: nowrap;
  line-height: 40px;
  border: 1px solid var(--theme-color);
  transition: inherit;
  transform: scale(0);
}
#primary-menu-list .sub-menu > .menu-item {
  padding: 0 10px 0 20px;
  position: relative;
  border-bottom: 1px solid #efefef;
  background-size: contain;
  background-repeat: repeat;
}
#primary-menu-list .sub-menu > .menu-item:last-child {
  border-bottom: none;
}
#primary-menu-list .sub-menu > .menu-item::before {
  position: absolute;
  content: "✦";
  font-size: 10px;
  left: 10px;
  color: var(--theme-color);
}
#primary-menu-list .sub-menu > .menu-item:hover {
  background-image: url("assets/images/7933259ae51d7b49d5291e7a1759d6f2-Large.jpeg");
}
#primary-menu-list .sub-menu > .menu-item:hover::before {
  color: var(--theme-color-dark);
}
#primary-menu-list .sub-menu > .menu-item > a {
  margin-left: 5px;
}

.home-landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
}
.home-landing .landing-content {
  color: #eee;
  margin-top: 80px;
}
.home-landing .landing-content .site-title {
  font-size: 40px;
  font-weight: bold;
}
.home-landing .landing-content .middle-separate-line {
  margin: 5px 0;
}
.home-landing .landing-content .middle-separate-line > div {
  display: inline-block;
  vertical-align: middle;
}
.home-landing .landing-content .middle-separate-line > div:first-child, .home-landing .landing-content .middle-separate-line > div:last-child {
  height: 1px;
  width: 35%;
}
.home-landing .landing-content .middle-separate-line > div:first-child {
  background: linear-gradient(to right, transparent, var(--theme-color-pale));
}
.home-landing .landing-content .middle-separate-line > div:last-child {
  background: linear-gradient(to right, var(--theme-color-pale), transparent);
}
.home-landing .landing-content .middle-separate-line > div:nth-child(2) {
  color: var(--theme-color);
  margin: 0 6px;
}
.home-landing .social-links {
  margin: 50px 0 30px 0;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 1px solid #666;
}
.home-landing .social-links .social-links-list {
  display: flex;
  font-size: 20px;
}
.home-landing .social-links .social-links-list li:not(:last-child) {
  margin-right: 15px;
}
.home-landing .social-links .social-links-list a:hover {
  color: var(--theme-color-pale);
}
.home-landing .background-image-copyright {
  position: absolute;
  bottom: 40px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 0.9rem;
}
.home-landing .background-image-copyright a {
  color: var(--theme-color);
}
.home-landing .background-image-copyright a:hover {
  color: var(--theme-color-pale);
}

.post-landing, .archive-landing {
  background-position: center;
  background-size: cover;
  height: 200px;
  margin-top: 80px;
  padding-top: 50px;
}
.post-landing > div, .archive-landing > div {
  margin: 0 auto;
  padding: 10px 0;
  width: 60%;
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0.5) 50%, #fff 100%);
  box-sizing: border-box;
  border: 2px solid var(--theme-color-pale);
  box-shadow: var(--theme-shadow);
  border-radius: 10px;
  position: relative;
}
.post-landing > div > h1, .archive-landing > div > h1 {
  margin: 0 15px;
}
.post-landing > div > .middle-separate-line > div, .archive-landing > div > .middle-separate-line > div {
  display: inline-block;
  vertical-align: middle;
}
.post-landing > div > .middle-separate-line > div:first-child, .archive-landing > div > .middle-separate-line > div:first-child, .post-landing > div > .middle-separate-line > div:last-child, .archive-landing > div > .middle-separate-line > div:last-child {
  height: 1px;
  width: 35%;
}
.post-landing > div > .middle-separate-line > div:first-child, .archive-landing > div > .middle-separate-line > div:first-child {
  background: linear-gradient(to right, transparent, var(--theme-color-pale));
}
.post-landing > div > .middle-separate-line > div:last-child, .archive-landing > div > .middle-separate-line > div:last-child {
  background: linear-gradient(to right, var(--theme-color-pale), transparent);
}
.post-landing > div > .middle-separate-line > div:nth-child(2), .archive-landing > div > .middle-separate-line > div:nth-child(2) {
  color: var(--theme-color);
  margin: 0 6px;
}
.post-landing > div > time, .archive-landing > div > time {
  font-family: var(--theme-font);
  color: var(--theme-color-gray);
}
.post-landing > div > .block-corner-deco, .archive-landing > div > .block-corner-deco {
  position: absolute;
  color: var(--theme-color);
  width: 100%;
  height: 100%;
  top: 0;
}
.post-landing > div > .block-corner-deco > span, .archive-landing > div > .block-corner-deco > span {
  position: absolute;
  box-sizing: border-box;
}
.post-landing > div > .block-corner-deco > span.tl, .archive-landing > div > .block-corner-deco > span.tl {
  left: 4px;
  top: 0;
}
.post-landing > div > .block-corner-deco > span.tr, .archive-landing > div > .block-corner-deco > span.tr {
  right: 4px;
  top: 0;
}
.post-landing > div > .block-corner-deco > span.bl, .archive-landing > div > .block-corner-deco > span.bl {
  left: 4px;
  bottom: 0;
}
.post-landing > div > .block-corner-deco > span.br, .archive-landing > div > .block-corner-deco > span.br {
  right: 4px;
  bottom: 0;
}
.post-landing > div > .block-edge-deco, .archive-landing > div > .block-edge-deco {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.post-landing > div > .block-edge-deco > span, .archive-landing > div > .block-edge-deco > span {
  position: absolute;
  box-sizing: border-box;
}
.post-landing > div > .block-edge-deco > span.t, .archive-landing > div > .block-edge-deco > span.t {
  width: calc(100% - 40px);
  height: 15px;
  left: 20px;
  top: 5px;
  border-top: 1px solid var(--theme-color);
  border-left: 1px solid var(--theme-color);
  border-right: 1px solid var(--theme-color);
}
.post-landing > div > .block-edge-deco > span.r, .archive-landing > div > .block-edge-deco > span.r {
  width: 15px;
  height: calc(100% - 40px);
  top: 20px;
  right: 5px;
  border-top: 1px solid var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
  border-right: 1px solid var(--theme-color);
}
.post-landing > div > .block-edge-deco > span.b, .archive-landing > div > .block-edge-deco > span.b {
  width: calc(100% - 40px);
  height: 15px;
  left: 20px;
  bottom: 5px;
  border-bottom: 1px solid var(--theme-color);
  border-left: 1px solid var(--theme-color);
  border-right: 1px solid var(--theme-color);
}
.post-landing > div > .block-edge-deco > span.l, .archive-landing > div > .block-edge-deco > span.l {
  width: 15px;
  height: calc(100% - 40px);
  top: 20px;
  left: 5px;
  border-top: 1px solid var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
  border-left: 1px solid var(--theme-color);
}
.post-landing > div > .block-edge-deco.arc > .t, .archive-landing > div > .block-edge-deco.arc > .t {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.post-landing > div > .block-edge-deco.arc > .r, .archive-landing > div > .block-edge-deco.arc > .r {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.post-landing > div > .block-edge-deco.arc > .b, .archive-landing > div > .block-edge-deco.arc > .b {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.post-landing > div > .block-edge-deco.arc > .l, .archive-landing > div > .block-edge-deco.arc > .l {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.archive-landing > div > .info {
  margin: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-sidebar, .site-sidebar-right, .site-sidebar-left {
  width: calc((34% - 40px) / 2);
  background: url("assets/images/47ff0c21443ce5f94a6bee19199d0fbe-crop.jpeg") repeat center;
  background-size: 75%;
  position: relative;
}
.site-sidebar::after, .site-sidebar-right::after, .site-sidebar-left::after {
  position: absolute;
  content: "";
}
.site-sidebar::after, .site-sidebar-right::after, .site-sidebar-left::after {
  height: 100%;
  width: 10px;
  top: -5px;
  background: url("assets/images/db8a37c82fe95b87a34e92b554178108-c2.png") repeat-y;
  background-size: 20px;
  box-shadow: 0px 74px 3px #000;
}
.site-sidebar > .sidebar-top, .site-sidebar-right > .sidebar-top, .site-sidebar-left > .sidebar-top {
  margin: 15px;
  font-family: var(--theme-font);
  line-height: 25px;
}

.site-sidebar-left::after {
  left: 100%;
  transform: skewY(-45deg);
}

.site-sidebar-right::after {
  right: 100%;
  transform: skewY(45deg);
}

.sidebar-item {
  margin: 15px 15px 25px 15px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 3px var(--theme-color);
  border-radius: 10px;
}
.sidebar-item > .sidebar-item-title {
  background: #ece5d6;
  font-family: var(--theme-font);
  line-height: 30px;
  padding: 0 5px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  z-index: 1;
  overflow: hidden;
  position: relative;
}
.sidebar-item > .sidebar-item-title::before, .sidebar-item > .sidebar-item-title::after {
  position: absolute;
  content: "";
  z-index: -1;
}
.sidebar-item > .sidebar-item-title::before {
  width: 30px;
  height: 30px;
  background: #ffe4c4;
  border-radius: 15px;
  top: 10px;
  left: calc(50% - 15px);
}
.sidebar-item > .sidebar-item-title::after {
  width: 100%;
  height: 30px;
  left: 0;
  top: 0;
  background: url("assets/images/3584aea555db7ef041845aff44f33622-Large.png") no-repeat bottom;
  background-size: contain;
}
.sidebar-item > .sidebar-item-body {
  position: relative;
  line-height: 30px;
  margin: 3px 5px;
  padding-bottom: 10px;
}
.sidebar-item > .sidebar-item-body::before, .sidebar-item > .sidebar-item-body::after {
  position: absolute;
  content: "❊";
  z-index: unset;
}
.sidebar-item > .sidebar-item-body::before, .sidebar-item > .sidebar-item-body::after {
  color: var(--theme-color);
  font-size: 8px;
  bottom: -8px;
}
.sidebar-item > .sidebar-item-body::before {
  left: 4px;
}
.sidebar-item > .sidebar-item-body::after {
  right: 4px;
}
.sidebar-item:not(.post-tag-cloud) a:hover {
  color: var(--theme-color-gray);
}

.sidebar-item.post-catalogues > .sidebar-item-body {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}
.sidebar-item.post-catalogues .cat-item {
  font-size: 14px;
  color: var(--theme-color-gray);
}
.sidebar-item.post-catalogues .cat-item > a {
  font-size: initial;
}
.sidebar-item.post-catalogues .cat-item > .children {
  margin-left: 1rem;
}

.sidebar-item.post-tag-cloud a {
  background: var(--theme-color-pale);
  border-radius: 20px;
  color: #fff;
  padding: 8px;
  transition: var(--theme-transition);
  display: inline-block;
  margin: 3px;
  line-height: 1;
}
.sidebar-item.post-tag-cloud a > span {
  font-size: 12px;
}
.sidebar-item.post-tag-cloud a:hover {
  background: var(--theme-color);
}

.sidebar-item.post-calendar #wp-calendar {
  width: 100%;
}
.sidebar-item.post-calendar #wp-calendar thead {
  font-family: var(--theme-font);
}
.sidebar-item.post-calendar #wp-calendar tbody {
  font-size: 0.8rem;
  line-height: 2;
}
.sidebar-item.post-calendar #wp-calendar #today {
  background: var(--theme-color);
  color: #fff;
  border-radius: 10px;
}
.sidebar-item.post-calendar #wp-calendar #today > a {
  color: #fff;
}
.sidebar-item.post-calendar #wp-calendar a {
  color: var(--theme-color);
  font-weight: bold;
}
.sidebar-item.post-calendar #wp-calendar .has-post {
  transition: var(--theme-transition);
  border-radius: 10px;
}
.sidebar-item.post-calendar #wp-calendar .has-post:hover {
  background: var(--theme-color-gray);
}
.sidebar-item.post-calendar #wp-calendar .has-post:hover > a {
  color: #fff;
}

.sidebar-item.monthly-archives li {
  font-size: 14px;
  color: var(--theme-color-gray);
}
.sidebar-item.monthly-archives li > a {
  font-size: initial;
}

.sidebar-item.recent-posts .sidebar-item-body li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.site-content {
  width: 66%;
  margin: 0 20px 125px 20px;
  display: flex;
  flex-direction: column;
}
.site-content > main {
  flex: 1;
  padding: 30px 30px 40px 30px;
  margin: 0 30px;
  background: url("assets/images/47ff0c21443ce5f94a6bee19199d0fbe-crop.jpeg") repeat;
  background-size: 20%;
}

.breadcrumb-area {
  position: relative;
  background: url("assets/images/db8a37c82fe95b87a34e92b554178108-m.png") repeat;
  background-size: 25% auto;
  padding: 20px 0;
  width: calc(100% + 40px);
  right: 20px;
  z-index: 2;
  box-shadow: 0 1px 3px #000;
}
.breadcrumb-area > .breadcrumb-nav {
  margin: 0 50px;
  padding: 5px 10px;
  line-height: 20px;
  border: 2px solid var(--theme-color);
  box-sizing: border-box;
  box-shadow: 0 0 5px #333;
  background: var(--theme-block-bg);
  font-family: var(--theme-font-compatible);
}
.breadcrumb-area > .breadcrumb-nav > span {
  color: var(--theme-color-gray);
  margin: 0 5px;
}
.breadcrumb-area > .breadcrumb-nav > span:last-child {
  display: none;
}
.breadcrumb-area > .breadcrumb-nav > a:first-child > i {
  margin-right: 2px;
  color: var(--theme-color);
  font-size: 14px;
  transition: var(--theme-transition);
}
.breadcrumb-area > .breadcrumb-nav a:hover {
  color: var(--theme-color-gray);
}
.breadcrumb-area > .breadcrumb-nav a:hover > i {
  color: var(--theme-color-gray);
}

.post-list {
  padding: 20px 20px 10px 20px;
}
.post-list > .post-item {
  padding: 2px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 3px var(--theme-color);
  border-radius: 10px;
}

.post-item-wrap {
  padding: 7px;
  border: 2px solid var(--theme-color-pale);
  border-radius: inherit;
}
.post-item-wrap > .post-thumbnail {
  z-index: 1;
  position: relative;
}
.post-item-wrap > .post-thumbnail::before, .post-item-wrap > .post-thumbnail::after {
  position: absolute;
  content: "";
  z-index: -1;
}
.post-item-wrap > .post-thumbnail::before, .post-item-wrap > .post-thumbnail::after {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
.post-item-wrap > .post-thumbnail::before {
  left: -4px;
  bottom: -4px;
}
.post-item-wrap > .post-thumbnail::after {
  left: 4px;
  bottom: 4px;
}
.post-item-wrap > .post-thumbnail > .has-thumbnail {
  height: 200px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.post-item-wrap > .post-thumbnail .post-meta {
  background: rgba(0, 0, 0, 0.4);
  line-height: 24px;
  color: #fff;
  padding: 6px 10px;
}
.post-item-wrap > .post-title {
  font-size: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-item-wrap > .post-title > a {
  margin: 0 8px;
}
.post-item-wrap > .post-title > a:hover {
  color: var(--theme-color-gray);
}
.post-item-wrap > .post-title > span {
  color: var(--theme-color-pale);
}
.post-item-wrap > .post-excerpt {
  font-family: var(--theme-font);
  margin: 0 10px;
  color: #555;
  text-align: left;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-meta > div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.post-meta > div:last-child {
  margin-bottom: 0;
}
.post-meta > div > i {
  margin-right: 5px;
}
.post-meta ul > li {
  position: relative;
  margin-right: 20px;
  float: left;
}
.post-meta ul > li:not(:last-child)::after {
  position: absolute;
  content: "✦";
  width: 10px;
  font-size: 10px;
  right: -15px;
  color: #ccc;
}
.post-meta ul > li > a {
  color: #fff;
}
.post-meta time {
  font-family: var(--theme-font);
}
.post-meta a:hover {
  text-decoration: underline;
}

.post {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid var(--theme-color-pale);
  box-shadow: 0 0 3px var(--theme-color);
  text-align: left;
  line-height: 2;
}
.post p code {
  margin: 0 3px;
  background: rgba(189, 159, 111, 0.2);
  padding: 2px 5px;
}
.post blockquote {
  position: relative;
  background: rgba(189, 159, 111, 0.1);
  padding: 3px 5px;
  text-align: right;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post blockquote > i {
  position: absolute;
  color: var(--theme-color);
}
.post blockquote > i.fa-quote-left {
  left: -1rem;
  top: -1rem;
}
.post blockquote > i.fa-quote-right {
  right: -1rem;
  bottom: -1rem;
}
.post blockquote > p {
  text-align: left;
}
.post figure.aligncenter > figcaption {
  text-align: center;
}

.post-landing, .archive-landing {
  background-position: center;
  background-size: cover;
  height: 200px;
  margin-top: 80px;
  padding-top: 50px;
}
.post-landing > div, .archive-landing > div {
  margin: 0 auto;
  padding: 10px 0;
  width: 60%;
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0.5) 50%, #fff 100%);
  box-sizing: border-box;
  border: 2px solid var(--theme-color-pale);
  box-shadow: var(--theme-shadow);
  border-radius: 10px;
  position: relative;
}
.post-landing > div > h1, .archive-landing > div > h1 {
  margin: 0 15px;
}
.post-landing > div > .middle-separate-line > div, .archive-landing > div > .middle-separate-line > div {
  display: inline-block;
  vertical-align: middle;
}
.post-landing > div > .middle-separate-line > div:first-child, .archive-landing > div > .middle-separate-line > div:first-child, .post-landing > div > .middle-separate-line > div:last-child, .archive-landing > div > .middle-separate-line > div:last-child {
  height: 1px;
  width: 35%;
}
.post-landing > div > .middle-separate-line > div:first-child, .archive-landing > div > .middle-separate-line > div:first-child {
  background: linear-gradient(to right, transparent, var(--theme-color-pale));
}
.post-landing > div > .middle-separate-line > div:last-child, .archive-landing > div > .middle-separate-line > div:last-child {
  background: linear-gradient(to right, var(--theme-color-pale), transparent);
}
.post-landing > div > .middle-separate-line > div:nth-child(2), .archive-landing > div > .middle-separate-line > div:nth-child(2) {
  color: var(--theme-color);
  margin: 0 6px;
}
.post-landing > div > time, .archive-landing > div > time {
  font-family: var(--theme-font);
  color: var(--theme-color-gray);
}
.post-landing > div > .block-corner-deco, .archive-landing > div > .block-corner-deco {
  position: absolute;
  color: var(--theme-color);
  width: 100%;
  height: 100%;
  top: 0;
}
.post-landing > div > .block-corner-deco > span, .archive-landing > div > .block-corner-deco > span {
  position: absolute;
  box-sizing: border-box;
}
.post-landing > div > .block-corner-deco > span.tl, .archive-landing > div > .block-corner-deco > span.tl {
  left: 4px;
  top: 0;
}
.post-landing > div > .block-corner-deco > span.tr, .archive-landing > div > .block-corner-deco > span.tr {
  right: 4px;
  top: 0;
}
.post-landing > div > .block-corner-deco > span.bl, .archive-landing > div > .block-corner-deco > span.bl {
  left: 4px;
  bottom: 0;
}
.post-landing > div > .block-corner-deco > span.br, .archive-landing > div > .block-corner-deco > span.br {
  right: 4px;
  bottom: 0;
}
.post-landing > div > .block-edge-deco, .archive-landing > div > .block-edge-deco {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.post-landing > div > .block-edge-deco > span, .archive-landing > div > .block-edge-deco > span {
  position: absolute;
  box-sizing: border-box;
}
.post-landing > div > .block-edge-deco > span.t, .archive-landing > div > .block-edge-deco > span.t {
  width: calc(100% - 40px);
  height: 15px;
  left: 20px;
  top: 5px;
  border-top: 1px solid var(--theme-color);
  border-left: 1px solid var(--theme-color);
  border-right: 1px solid var(--theme-color);
}
.post-landing > div > .block-edge-deco > span.r, .archive-landing > div > .block-edge-deco > span.r {
  width: 15px;
  height: calc(100% - 40px);
  top: 20px;
  right: 5px;
  border-top: 1px solid var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
  border-right: 1px solid var(--theme-color);
}
.post-landing > div > .block-edge-deco > span.b, .archive-landing > div > .block-edge-deco > span.b {
  width: calc(100% - 40px);
  height: 15px;
  left: 20px;
  bottom: 5px;
  border-bottom: 1px solid var(--theme-color);
  border-left: 1px solid var(--theme-color);
  border-right: 1px solid var(--theme-color);
}
.post-landing > div > .block-edge-deco > span.l, .archive-landing > div > .block-edge-deco > span.l {
  width: 15px;
  height: calc(100% - 40px);
  top: 20px;
  left: 5px;
  border-top: 1px solid var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
  border-left: 1px solid var(--theme-color);
}
.post-landing > div > .block-edge-deco.arc > .t, .archive-landing > div > .block-edge-deco.arc > .t {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.post-landing > div > .block-edge-deco.arc > .r, .archive-landing > div > .block-edge-deco.arc > .r {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.post-landing > div > .block-edge-deco.arc > .b, .archive-landing > div > .block-edge-deco.arc > .b {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.post-landing > div > .block-edge-deco.arc > .l, .archive-landing > div > .block-edge-deco.arc > .l {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#site-wrap {
  position: relative;
}

#primary {
  display: flex;
}
#primary > .primary-mask-top {
  position: absolute;
  z-index: 1;
  width: 100%;
  perspective-origin: top;
  perspective: 300px;
  transform-style: preserve-3d;
}
#primary > .primary-mask-top > div {
  position: absolute;
  content: "";
  top: -9px;
  left: 6px;
  width: calc(100% - 12px);
  height: 10px;
  background: url("assets/images/db8a37c82fe95b87a34e92b554178108-m.png") repeat-x;
  transform: rotateX(33deg);
  background-size: 18% auto;
  box-shadow: 0 -1px 3px #000;
}

.site-footer {
  position: absolute;
  width: calc(66% + 40px);
  bottom: 0;
  left: calc(17% - 20px);
  background: url("assets/images/db8a37c82fe95b87a34e92b554178108-m.png") repeat;
  background-size: 25% auto;
  padding: 20px 0;
  perspective-origin: top;
  perspective: 300px;
  transform-style: preserve-3d;
}
.site-footer::before {
  position: absolute;
  content: "";
  top: -9px;
  height: 10px;
  left: 5px;
  width: calc(100% - 10px);
  background: url("assets/images/db8a37c82fe95b87a34e92b554178108-m.png") repeat-x;
  background-size: 25% auto;
  transform: rotateX(33deg);
  box-shadow: 0 -1px 3px #000;
}
.site-footer > .footer-wrap {
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  background: url("assets/images/7933259ae51d7b49d5291e7a1759d6f2-Large-Medium.jpeg") left bottom no-repeat;
  background-size: cover;
  border: 2px solid var(--theme-color);
  box-shadow: 0 0 10px #333;
}
.site-footer > .footer-wrap a {
  color: var(--theme-color-dark);
}
.site-footer > .footer-wrap a:hover {
  color: #96655c;
}

.footer-wrap > .copyright > span:not(:last-child) {
  margin-right: 5px;
}
.footer-wrap > .acknowledgements {
  margin: 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-wrap > .acknowledgements > .ack-wp > a {
  margin-left: 5px;
}
.footer-wrap > .acknowledgements > .ack-theme > a {
  font-family: var(--theme-font);
  font-size: 16px;
  margin-right: 5px;
}
.footer-wrap > .acknowledgements > .ack-theme > span {
  font-size: 10px;
}
.footer-wrap > .acknowledgements > .ack-separate {
  margin: 0 8px;
  color: #96655c;
}
.footer-wrap > .extra-info {
  font-family: var(--theme-font);
  font-size: 13px;
}

.post-navigation > h2 {
  display: none;
}
.post-navigation > .nav-links > div {
  position: fixed;
  top: 50%;
  border-radius: 50%;
  z-index: 10;
}
.post-navigation > .nav-links > div:hover > a {
  transform: translateX(0) translateY(0);
}
.post-navigation > .nav-links > div > div {
  width: 30px;
  height: 30px;
  color: var(--theme-color);
  background: #fff;
  line-height: 30px;
  border-radius: 50%;
  box-shadow: var(--theme-shadow);
  transition: var(--theme-transition);
  cursor: pointer;
}
.post-navigation > .nav-links > div > a {
  position: absolute;
  white-space: nowrap;
  top: -5px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: var(--theme-shadow);
  font-family: var(--theme-font-compatible);
  transition: var(--theme-transition);
}
.post-navigation .nav-previous {
  left: 3px;
}
.post-navigation .nav-previous > a {
  left: 40px;
  transform: translateX(calc(-100% - 50px)) translateY(40px);
}
.post-navigation .nav-next {
  right: 3px;
}
.post-navigation .nav-next > a {
  right: 40px;
  transform: translateX(calc(100% + 50px)) translateY(40px);
}

#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 17%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--theme-color);
  background: #fff;
  font-size: 25px;
  color: var(--theme-color);
  transition: var(--theme-transition);
  cursor: pointer;
  box-shadow: 0 0 10px #333;
}
#back-to-top > div {
  border-radius: inherit;
  width: 40px;
  height: 40px;
  line-height: 38px;
  box-sizing: border-box;
  background: url("assets/images/7933259ae51d7b49d5291e7a1759d6f2-Large.jpeg") repeat;
  background-size: contain;
  margin: 5px;
  border: 1px solid transparent;
  transition: inherit;
}
#back-to-top:hover > div {
  border-color: var(--theme-color);
}
#back-to-top.mousedown > div {
  box-shadow: var(--theme-shadow);
}
#back-to-top.hidden {
  bottom: 0;
  opacity: 0;
}

#post-catalog a {
  display: block;
  margin-bottom: 10px;
  position: relative;
  padding: 3px 5px;
  text-align: left;
}
#post-catalog a > .catalog-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
#post-catalog a > .catalog-wrap::before {
  position: absolute;
  content: "❖";
}
#post-catalog a > .catalog-wrap::before {
  text-indent: initial;
  font-size: 12px;
  color: var(--theme-color-pale);
  left: -5px;
}
#post-catalog a > .catalog-wrap > div {
  display: inline-block;
  height: 0;
  border-top: 1px dotted #cfcfcf;
  margin-right: 5px;
  position: relative;
}
#post-catalog a > .catalog-wrap > div::after {
  position: absolute;
  content: "";
}
#post-catalog a > .catalog-wrap > div::after {
  width: 4px;
  height: 4px;
  background: var(--theme-color-pale);
  border-radius: 2px;
  right: 0;
  top: -2.5px;
}
#post-catalog a > .catalog-wrap > span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#post-catalog a:not(:last-child) > .catalog-wrap::after {
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% + 10px);
  background: #cfcfcf;
  left: -1px;
  top: 18px;
}
#post-catalog .catalog-h2 > .catalog-wrap > div {
  width: 1rem;
}
#post-catalog .catalog-h2 > .catalog-wrap > span {
  max-width: calc(100% - 1rem);
  font-weight: bold;
}
#post-catalog .catalog-h3 > .catalog-wrap > div {
  width: 2rem;
}
#post-catalog .catalog-h3 > .catalog-wrap > span {
  max-width: calc(100% - 2rem);
}
#post-catalog .catalog-h4 > .catalog-wrap > div {
  width: 3rem;
}
#post-catalog .catalog-h4 > .catalog-wrap > span {
  max-width: calc(100% - 3rem);
  font-family: var(--theme-font);
}
#post-catalog .catalog-h5 > .catalog-wrap > div {
  width: 4rem;
}
#post-catalog .catalog-h5 > .catalog-wrap > span {
  max-width: calc(100% - 4rem);
  font-family: var(--theme-font);
  font-size: 0.9rem;
}
#post-catalog .catalog-h6 > .catalog-wrap > div {
  width: 5rem;
}
#post-catalog .catalog-h6 > .catalog-wrap > span {
  max-width: calc(100% - 5rem);
  font-family: var(--theme-font);
  font-size: 0.8rem;
}